<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
</head>
<body>
    <div class="container">
        <h1><%= onePokemon.name%></h1>
        <img src="<%= onePokemon.img%>" alt="<%= onePokemon.name%>"><br>
        Type:
        <ul>
            <% for(let i=0; i < onePokemon.type.length; i++) { %>
                <li>
                    <%= onePokemon.type[i]%>
                </li>
            <% } %>
        </ul>
        Stats: <br>
        <ul>
            <li>HP: <%= onePokemon.stats.hp%> </li>
            <li>Attack: <%= onePokemon.stats.attack%> </li>
            <li>Defense: <%= onePokemon.stats.defense%> </li>
            <li>Speed: <%= onePokemon.stats.speed%></li>
        </ul>
        <a href="/pokemon">Back</a>

    </div> 
</body>
</html>